<style>
.content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>
  
  
  <header>
    <mat-toolbar class="mat-toolbar mat-primary">
      SkyNet-O
    </mat-toolbar>
  </header>

  

<div class="content">
  <img src="https://opensky-network.org/images/opensky_logo.png" class="img">
  
  

<!-- <form [formGroup]="bioSection" (ngSubmit)="onSubmit(bioSection.value)">

  <label>
    Username:
    <input type="text" formControlName="username">
  </label> <br>
<label>
    Password:
    <input type="text" formControlName="password">
  </label>

  <button class="button" type="submit">Login</button>


</form> -->

<mat-card class="">
  <mat-card-header>
    <mat-card-title>
      <h2>Enter login details</h2>
    </mat-card-title>
  </mat-card-header>
  <div class="example-container example-form">
    <form [formGroup]="bioSection" (ngSubmit)="onSubmit(bioSection.value)">
      
      <div class="example-container">
        <mat-form-field><!--[formControl]="bioSection.username"-->
          <input matInput placeholder="Enter username" formControlName="username" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="bioSection.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    
      
        <mat-form-field><!--[formControl]="bioSection.username"-->
          <input matInput placeholder="Enter password" formControlName="password" required>
          
            <mat-icon matSuffix>visibility_off</mat-icon>

          <mat-error *ngIf="bioSection.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
  
      <button mat-button type="submit" class="mat-button mat-primary mat-raised-button">Login</button>
    </form>
  </div>
</mat-card>

</div>
<footer style="text-align: center;">
  <mat-toolbar class="mat-toolbar mat-primary" style="display: inline-grid;">
    <small>© 2019 All right reserved.</small>
  </mat-toolbar>
</footer>