<style>
.content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>
<style>
  .toolbar {
      height: 60px;
      margin: 0px 0px 8px 0px;
      display: flex;
      align-items: center;
      background-color: #ec540e;
      color: white;
      font-weight: 600;
    }
  
    
  </style>
  
  
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    
    <!-- <a style="padding-left: 15px; padding-right: 25px;" routerLink="home-page">Home</a> -->
    <a style="padding-left: 15px; padding-right: 25px;" >Welcome</a>
      <!-- <div class="spacer"></div> -->
  
      <!-- <a  routerLink="login">Login</a> -->
  </div>

<div class="content">
  <h2>Enter login details</h2>

<!-- <form [formGroup]="bioSection" (ngSubmit)="onSubmit(bioSection.value)">

  <label>
    Username:
    <input type="text" formControlName="username">
  </label> <br>
<label>
    Password:
    <input type="text" formControlName="password">
  </label>

  <button class="button" type="submit">Login</button>


</form> -->

<mat-card>
  <div class="example-container example-form">
    <form [formGroup]="bioSection" (ngSubmit)="onSubmit(bioSection.value)">
      <mat-form-field><!--[formControl]="bioSection.username"-->
        <input matInput placeholder="Enter username" formControlName="username" required>
        <mat-error *ngIf="bioSection.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
  
      <br>
    
      <mat-form-field><!--[formControl]="bioSection.username"-->
        <input matInput placeholder="Enter password" formControlName="password" required>
        <mat-error *ngIf="bioSection.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
  
      <br>
  
      <button mat-button type="submit">Login</button>
    </form>
  </div>
</mat-card>

</div>