<style>
  

    .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    /* background-color: #fafafa; */
    
    width: 300px;
    height: 500px;
    margin: 0 8px 16px;
  }


  </style>

<style>
  .content {
      display: flex;
      margin: 32px auto;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }

    .toolbar {
        height: 60px;
        margin: 0px 0px 8px 0px;
        display: flex;
        align-items: flex-start;
        background-color: #ec540e;
        color: white;
        font-weight: 600;
      }
  </style>
    
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      
      <!-- <a style="padding-left: 15px; padding-right: 25px;" routerLink="home-page">Home</a> -->
      <a style="padding-left: 15px; padding-right: 25px; padding-top: 15px;" routerLink="/login">Logout</a>
        <!-- <div class="spacer"></div> -->
    
        <!-- <a  routerLink="login">Login</a> -->
    </div>
  


<div class="content">
  <p>Click any box to check out flight details</p>
</div>

<div class="card-container">
  <div class="card" *ngFor="let item of airports; index as i" (click)="openDialog(item)">
    <mat-card class="example-card" style="cursor: pointer;">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.country }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="item.img" alt="item.name">
      <!-- <mat-card-content>
        <p>
          The Shiba Inu
        </p>
      </mat-card-content> -->
      
      <!-- <mat-card-actions>
        <button mat-button (click)="openDialog(item)">DETAILS</button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>
