<style>
  .content {
      display: flex;
      margin: 32px auto;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }

    .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    /* height: 40px; */
    width: 200px;
    margin: 0 8px 16px;
    /* padding: 16px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    transition: all 0.2s ease-in-out;
    /* line-height: 24px; */
  }


  </style>

<style>
  .content {
      display: flex;
      margin: 32px auto;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
  </style>
  <style>
    .spacer {
        flex: 1;
      }
    .toolbar {
        height: 60px;
        margin: 0px 0px 8px 0px;
        display: flex;
        align-items: center;
        background-color: #ec540e;
        color: white;
        font-weight: 600;
      }
    
      .toolbar img {
        margin: 0 16px;
      }
    
      .toolbar #twitter-logo {
        height: 40px;
        margin: 0 16px;
      }
    
      .toolbar #twitter-logo:hover {
        opacity: 0.8;
      }
    </style>
    
    
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      
      <!-- <a style="padding-left: 15px; padding-right: 25px;" routerLink="home-page">Home</a> -->
      <a style="padding-left: 15px; padding-right: 25px;" routerLink="/login">Logout</a>
        <!-- <div class="spacer"></div> -->
    
        <!-- <a  routerLink="login">Login</a> -->
    </div>
  


<div class="content">
  <p>Click any box to check out flight details</p>
</div>

<div class="card-container">
  <div class="card" *ngFor="let item of airports; index as i" (click)="openDialog(item)">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.country }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <!-- <mat-card-content>
        <p>
          The Shiba Inu
        </p>
      </mat-card-content> -->
      
      <!-- <mat-card-actions>
        <button mat-button (click)="openDialog(item)">DETAILS</button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>
