<!-- <p>dialogs works!</p> -->

<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->


<h1 mat-dialog-title>Flight Details</h1>
<div mat-dialog-content>

  <form>

    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="arrival">Arrivals</mat-option>
        <mat-option value="departure">Departures</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>

  <p *ngIf="selected != undefined && time != undefined">Showing {{selected + 's'}} from {{ time }}</p>


  <mat-accordion>
    
    <mat-expansion-panel *ngFor="let item of all; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Flight {{ i + 1 }}
        </mat-panel-title>
        <mat-panel-description>
          ICAO24: {{ item.icao24 }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Depature Time: {{ item.firstSeen }}</p>

      <p>ETA: {{ item.lastSeen }}</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>


  </mat-accordion>



</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
