<style>
  
.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 4px;
    border-radius: 50%;
    border: 3px solid #000000;
    border-color: #000000 transparent #000000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
</style>

<!-- <p>dialogs works!</p> -->

<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->


<h1 mat-dialog-title>Flight Details from {{ data.country }}</h1>
<div mat-dialog-content>

  <form>

    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="arrival">Arrivals</mat-option>
        <mat-option value="departure">Departures</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>No. of days from</mat-label>
      <mat-select [(value)]="diff">
        <mat-option value="1">1 day from</mat-option>
        <mat-option value="2">2 days from</mat-option>
        <mat-option value="3">3 day from</mat-option>
        <mat-option value="4">4 days from</mat-option>
        <mat-option value="5">5 day from</mat-option>
        <mat-option value="6">6 days from</mat-option>
        <mat-option value="7">7 day from</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field>
      <input max="" matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>

  <p *ngIf="selected != undefined && time != undefined">
    Showing {{selected + 's'}} from {{ time }}
    
  </p>

  <div *ngIf="selected != undefined && time != undefined" class="align-middle align-items-center">
    <div *ngIf="all.length == 0 && e == undefined" class="lds-dual-ring"></div>
    <div *ngIf="e != undefined">{{ e }}</div>
  </div>


  <mat-accordion>

    
    
    <mat-expansion-panel *ngFor="let item of all; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Flight {{ i + 1 }}
        </mat-panel-title>
        <mat-panel-description>
          ICAO24: {{ item.icao24 }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Airport: {{ data.name }}</p>

      <p><b>Depature Time:</b> {{ tellTime(item.firstSeen) }}</p>

      <p><b>ETA:</b> {{ tellTime(item.lastSeen) }}</p>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel> -->

    <mat-divider *ngIf="all.length > 0"></mat-divider>

  </mat-accordion>



</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
